@import "tailwindcss";

:root {
  --main-font: "Rethink Sans"
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: black ;
    color: white;
    padding: 0 2%;
  }


h1 {
  margin-top: 10px;
    text-align: center;
    font-family: var(--main-font), sans-serif;
    letter-spacing: 1px;
}


/*Table Stylings  */

/* .table-wrapper {
    padding: 0 2%;
    overflow-x: auto;
  } */

table {
  /* table-layout: fixed; */
  margin-top: 20px;
  width: 100%;
  /* border-collapse: collapse; */
  /* background-color:#FFD65A; */
  /* border: 2px solid darkseagreen; */
}

/* tbody tr:nth-child(even) {
  background-color: #FFD65A;
} */


thead {
    font-family: var(--main-font), serif;
    letter-spacing: 2px;
    /* font-size: 80%; */
    border-bottom: 1px solid black;
}

thead th {
  padding: 1%;
}

/* thead th:nth-child(1) {
  width: 8%; 
  
  font-family: "Kumar One", serif;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 30%;
} */

td {
    text-align: center;
    /* padding: 25px;*/
    
    font-family: var(--main-font), serif; 
    font-weight: bold;
    letter-spacing: 1px;
}



/* style first column */
tbody > tr > :nth-child(1) {
    text-align: left;
    /* font-family: "Indie Flower", cursive;  */

    font-family: var(--main-font), serif;
    padding-left: 5px;
    /* width: 2000px; */
}

caption {
  font-family: var(--main-font), serif;
  padding: 20px;
  /* font-style: italic; */
  font-weight:bold;
  caption-side: bottom;
  /* color: #666; */
  text-align: left;
  /* letter-spacing: 1px; */
}





/* button div's  */


div.button {
    width: 100%;
    border: none;
    padding: 15px;

    /* background-color: inherit; */
}


div.button:hover {
 /*   background-color: gray;*/
    cursor: pointer;
}

div.button:active {
    /* background-color: #3e8e41; */
    transform: translateY(4px);
}

/* div.not-done {
    background-color: #F93827;
    /* opacity: calc(80%); 
}*/

/* div.done {
    background-color: #16C47F;
} */ 

/* 
#curr-week > :nth-child(1) {
    font-weight: bold;
}



#curr-week {
    border: 1px solid darkred;
} */
